.titre {
    font-size: 1.5em;
    color: #f9b929;
    margin-bottom: 10px;
    background-color:  #143868;
    padding: 5px;
    font: 1em sans-serif;
    text-align: center;
}

.img2 {
            width: 30%; 
            height: auto; 
            border-radius: 10px; 
            display: inline-block;
            text-align: center;
            padding: 10px;
        }

.img2 img {
            width: 100%; /* L'image occupe toute la largeur de la div */
            height: auto; /* Maintient le ratio de l'image */
            border-radius: 8px; /* Bordures arrondies de l'image pour cohérence */
            transition: transform 0.3s ease-in-out; /* Animation au survol */
        }

