.titre {
  font-size: 1.5em;
  color: #f9b929;
  margin-bottom: 10px;
  background-image: url("Design-maillot-domicile-FC-Barcelone-2016-2017 copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
