.titre {
    font-size: 1.5em;
    color: #f9b929;
    margin-bottom: 10px;
    background-color:  #143868;
    padding: 5px;
    font: 1em sans-serif;
    text-align: center;
    text
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1414;
    margin: 0;
    padding: 0;
}